body {
  display: grid;
  place-items: center;

  height: 100%;
  margin: 0;
  background-color: #456142;
  background: linear-gradient(#463822, #456142);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #f5ecee;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  max-width: 600px;
  max-height: 400px;
  padding: 2em;
}

form p {
  margin-bottom: 18px;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Merienda', cursive;
}

form fieldset {
  margin-bottom: 28px;
  padding: 0;
  border: none;
  font-family: 'Luckiest Guy', cursive;
}

form a.continue {
  font-size: 1.3em;
  background-color: #f5ecee;
  color: 463822;
  padding: 0.5em 1em;
  text-decoration: none;
}

form a.continue:hover,
form a.continue:focus {
  background-color: #da966a;
  color: #463822;
}
form a.continue {
  float: right;
}

button.reset {
  background-color: transparent;
  border: none;
  color: #f5ecee;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  letter-spacing: 0.5px;
}

button.reset:hover {
  color: #da966a;
}

form label span {
  display: block;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 14px 12px;
  border: 2px solid #da966a;
  cursor: pointer;
  border-radius: 25px;
}

form label:hover span,
form label:focus span {
  border: 2px solid #da966a;
  background-color: #f5ecee;
  color: #463822;
}

form input[type="radio"] {
  visibility: hidden;
}

form input [type="radio"]:checked + span {
  border: 2px solid #da966a;
  background-color: #f5ecee;
  color: #463822;
}

h1{
  font-family: 'Cinzel Decorative', cursive;
}

/*animated entrance*/



.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
